.container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
    background-color: #212E36;
    padding: 50px;
    width: 50%;
    display: flex;
    align-items: center;
}
.card-body{
    width: 500px;
}

.form{
    color: #212E36;
}

.bg-color-btn{
    background-color: #16669f
}