<app-header />

<div class="movie-card">
  <!-- <app-card-movie [imagen]="movie.img" [title]="movie.nombre" [mini]="true"/> -->
</div>
<div>
  <div class="movie-dates">
    <h3>{{movie.nombre}}</h3>
    <span class="info info-clas">{{movie.clas}}</span> <span *ngFor="let categoria of movie.categoria" class="info info-catg">{{categoria}}</span> <span class="info info-time">{{movie.duracion + 'min'}}</span>
    <h4>{{ movie.idioma }}</h4>
    <div class="list-btnSchedules">
      <app-btn-hours *ngFor="let hour of movie.horarios" [hour]="hour"/>
    </div>
  </div>
</div>

<app-footer />
