<app-titulo classes="title-text fs-3" texto="Cartelera Cine Star!"></app-titulo>
<app-loading></app-loading>
<div
  *ngFor="let pelicula of listaPeliculas$ | async"
  class="card mb-3 mx-auto"
  style="max-width: 540px;"
>
  <div class="row g-3">
    <div class="col-md-4">
      <img
        [src]="pelicula.img"
        class="img-fluid rounded-start"
        alt="{{pelicula.nombre}}"
      />
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{ pelicula.nombre }}</h5>
        <span>Horarios:</span>
        <p class="card-text">
          <a
            *ngFor="let hora of pelicula.horarios"
            role="button"
            class="btn btn-outline-dark btn-sm mx-1"
          >
            {{hora}}
          </a>
        </p>
        <p class="card-text">
          <span class="badge bg-secondary text-emphasis-primary mx-1"
            >{{pelicula.clas}}</span
          >
          <span class="badge text-bg-dark">{{pelicula.duracion}}</span>
        </p>
        <p class="card-text">
          <span
            *ngFor="let cat of pelicula.categoria"
            class="mx-1 badge bg-info text-emphasis-info"
            >{{cat}}</span
          >
        </p>
      </div>
    </div>
  </div>
</div>
