<div
  class="offcanvas offcanvas-end"
  tabindex="-1"
  id="offcanvasNavbar"
  aria-labelledby="offcanvasNavbarLabel"
>
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">
      Carrito de compras
    </h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body">
    <div *ngIf="!(listaCombos$ | async).length">
      Nada agregado hasta el momento
    </div>
    <div *ngIf="(listaCombos$ | async).length">
      <div
        *ngFor="let combo of listaCombos$ | async"
        class="card mb-3"
        style="max-width: 540px;"
      >
        <div class="row g-0">
          <div class="col-md-4">
            <img [src]="combo.comboInfo.src" class="img-fluid rounded-start" />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h6 class="card-title">
                {{ combo.comboInfo.nombre }}
              </h6>
              <h6 class="fw-lighter">Cantidad: {{ combo.cantidad }}</h6>
              <h6 class="fw-lighter">Total: {{ combo. total | currency}}</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-end m-3">
    <div class="fs-5 w-100">
      Total
    </div>
    <div class="fs-5 flex-shrink-1">{{ sumaTotal$ | async | currency}}</div>
  </div>
  <div class="m-3">
    <button
      [disabled]="!(listaCombos$ | async).length"
      class="btn btn-primary w-100 d-flex justify-content-center"
    >
      Pagar
      <span class="material-symbols-outlined mx-2">
        shopping_cart_checkout
      </span>
    </button>
  </div>
</div>
