<section class="cartelera">
  <div class="cartelera-content">
    <div class="filtros">
      <app-cines [listCines]="listCines"/>

      <div class="slider">
        <h3 class="name-label">Horarios</h3>
        <div class="slider-horario">
          <b>{{ valueStart < 12 ? valueStart+":00 am" : valueStart+":00 hrs" }}</b>
          <mat-slider
            [max]="max"
            [min]="min" discrete>
            <input matSliderStartThumb [(ngModel)]="valueStart" #slider>
            <input matSliderEndThumb [(ngModel)]="valueEnd" #slider>
          </mat-slider>
          <b>{{ valueEnd < 12 ? valueEnd+":00 am" : valueEnd+":00 hrs"}}</b>
        </div>
      </div>
    </div>

    <div class="movies-content" *ngFor="let movie of listMovies">
      <div class="movie-card">
        <app-card-movie [imagen]="movie.img" [title]="movie.nombre" [mini]="true"/>
      </div>
      <div>
        <div class="movie-dates">
          <h3>{{movie.nombre}}</h3>
          <span class="info-clas">{{movie.clas}}</span> <span class="info-catg">{{movie.categoria}}</span> <span class="info-time">{{movie.duracion + 'min'}}</span>
          <h4>{{ movie.idioma }}</h4>
          <div class="list-btnSchedules">
            <app-btn-hours *ngFor="let hour of movie.horarios" [hour]="hour"/>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
