<div id="carouselMovies" class="carousel bg-dark">
  <div class="carousel-indicators">
    <ng-container *ngFor="let movie of movies; index as index">
      <button
        type="button"
        data-bs-target="#carouselMovies"
        [class.active]="index === currentMovieIndex"
        [ariaCurrent]="index === currentMovieIndex"
        [ariaLabel]="movie.name"
        (click)="newIndex(index)"
      ></button>
    </ng-container>
  </div>
  <div class="carousel-inner">
    <ng-container *ngFor="let movie of movies; index as index">
      <div
        class="carousel-item fade-in"
        [class.active]="index === currentMovieIndex"
      >
        <img
          [src]="movie.image.wallpaper"
          class="d-block w-100 vh-100"
          [alt]="movie.name"
        />
        <div
          class="d-md-block bg-dark bg-opacity-50 position-absolute vh-100 vw-100 top-0 end-0"
        >
          <div class="caption p-5">
            <h2>{{ movie.name }}</h2>
            <p class="text-wrap fw-lighter w-100 lh-sm my-2">
              {{ movie.synopsis }}
            </p>
            <div class="d-flex justify-content-start gap-2 my-3">
              <ng-container
                *ngFor="let sched of movie.schedule; index as index"
              >
                <span class="button-time">{{ sched }}</span>
              </ng-container>
            </div>
            <button
              type="button"
              class="btn button-movies fw-lighter"
              data-bs-toggle="modal"
              data-bs-target="#staticBackdrop"
            >
              Buy ticket
            </button>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselMovies"
    data-bs-slide="prev"
    (click)="prevMovie()"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselMovies"
    data-bs-slide="next"
    (click)="nextMovie()"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
