<app-header />

<app-carrusel />

<section class="estrenos">
  <h2>
    Proximos Estrenos
  </h2>
  <div class="estrenos-content">
    <mat-card class="card-move">
      <mat-card-content class="card-content">
        <img src="assets/img5.jpg" alt="Iamgen 5">
        <p>Título</p>
      </mat-card-content>
    </mat-card>
    <mat-card class="card-move">
      <mat-card-content class="card-content">
        <img src="assets/img6.jpg" alt="Iamgen 6">
        <p>Título</p>
      </mat-card-content>
    </mat-card>
    <mat-card class="card-move">
      <mat-card-content class="card-content">
        <img src="assets/img.jpg" alt="Iamgen">
        <p>Título</p>
      </mat-card-content>
    </mat-card>
    <mat-card class="card-move">
      <mat-card-content class="card-content">
        <img src="assets/img4.jpg" alt="Iamgen 4">
        <p>Título</p>
      </mat-card-content>
    </mat-card>
  </div>
</section>

<app-cartelera></app-cartelera>
