<div class="card">
    <div class="container-description">
      <div class="img-container">
        <img
          src="https://image.tmdb.org/t/p/w1280/{{ movie?.backdrop_path }}"
          class="img-fluid"
        />
      </div>
      <div class="movie-description">
        <div class="description">
          <h5 class="card-title">{{ movie?.original_title }}</h5>
          <p class="card-text">{{ movie?.overview }}</p>
        </div>
        <div class="schedule">
          <div class="container">
            <button class="btn btn-primary btn-sm" >{{ selected }}</button>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body"></div>
  </div>
  