.estrenos {
  margin: 20px 0;

  &-content {
    width: 100%;
    height: 300px;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

}

.movies-content {
  margin: 50px;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: "aside movies";

  border: 1px solid #000;
  border-radius: 20px;
}
