<div class="title-text">Promociones Cine Star!</div>
<mat-grid-list cols="5" gutterSize="10px" rowHeight="200px">
  <mat-grid-tile>
    <div class="image-container">
      <img src="../../../assets/images/promociones/promo.jpg" />
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="image-container">
      <img src="../../../assets/images/promociones/adulto-mayor.jpg" />
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="image-container">
      <img src="../../../assets/images/promociones/jueves.png" />
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="image-container">
      <img src="../../../assets/images/promociones/lunes-popular.jpg" />
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="image-container">
      <img src="../../../assets/images/promociones/miercoles.jpg" />
    </div>
  </mat-grid-tile>
</mat-grid-list>
