<app-titulo
  classes="title-text fs-3"
  texto="Promociones Cine Star!"
></app-titulo>
<app-loading></app-loading>
<div
  id="carouselExampleIndicators"
  class="carousel slide carousel-fade"
  data-bs-ride="carousel"
>
  <div class="carousel-inner">
    <div
      *ngFor="let promo of promociones$ | async; let i = index"
      [class]="(i === 0) ? ' carousel-item active' : 'carousel-item'"
    >
      <img
        src="{{promo.src}}"
        class="d-block w-100"
        height="400px"
        alt="{{ promo.aria }}"
      />
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleIndicators"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleIndicators"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
