<footer class="footer">
  <div class="footer-navigation">
    <div class="footer-column">
      <h3>Enlaces útiles</h3>
      <ul>
        <li><a routerLink="/" >Inicio</a></li>
        <li><a href="#">Cartelera</a></li>
        <li><a routerLink="/combos" >Combos Palomitas</a></li>
        <li><a href="#">Bolsa de Trabajo</a></li>
      </ul>
    </div>
    <div class="footer-column">
      <h3>Recursos</h3>
      <ul>
        <li>Tel: <a href="tel:+1234567890">1234567890</a></li>
        <li>E-mail: <a href="mailto:ejemplo@example.com">ejemplo@example.com</a>
        </li>
        <li><a routerLink="/contact" >Contacto</a></li>
      </ul>
    </div>
    <div class="footer-column">
      <h3>Redes sociales</h3>
      <ul>
        <li><a href="https://www.facebook.com/">Facebook</a></li>
        <li><a href="https://twitter.com/">Twitter</a></li>
        <li><a href="https://www.instagram.com/">Instagram</a></li>
      </ul>
    </div>
  </div>
  <div class="footer-credits">
    <p>Hecho con ❤️ por Jessica.Perez &copy; 2024</p>
  </div>
</footer>
