.carrito {
  background-color: #f0f0f0;
  padding: 20px;
  width: 300px;
  border-radius: 10px;
}

.carrito h2 {
  margin-bottom: 10px;
}

.carrito ul {
  list-style-type: none;
  padding: 0;
}

.carrito li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.producto-imagen {
  max-width: 100%;
  max-height: 120px;
  height: auto;
  border-radius: 5px;
}

.carrito .producto-info {
  flex-grow: 1;
}

.carrito button {
  background-color: #ff0000;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.carrito button:hover {
  background-color: #cc0000;
}
