body.dark-theme {
    --main-color       : #52A5E0;
    --title-color      : #EFF3F5;
    --text-color       : #C8CDD0;
    --light-text-color : #A0A7AC;
    --border-color     : #2A3B47;
    --container-color  : #212E36;
    --body-color       : #192229;
  }

body{
    background-color : #192229;;
    color      : #EFF3F5;
}

.cursor{
    cursor: pointer;
}