.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h1{
  font-weight: bold;
}

.d-flex {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "carta combos";
}

.combo, .item {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.combos{
  grid-area: combos;
}
.carta{
  grid-area: carta;
}

.combo-image,
.item-image {
  width: 100px;
  max-height: 180px;
  height: auto;
  margin-right: 20px;
}

.combo-details h2 {
  font-size: 20px;
}

.combo-details p {
  font-size: 16px;
  margin-bottom: 10px;
}

button {
  background-color: rgb(243, 156, 18);
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(216, 132, 0);
}
