<div class="card">
  <div class="container-description">
    <div class="img-container">
      <img
        src="https://image.tmdb.org/t/p/w1280/{{ movie?.backdrop_path }}"
        class="img-fluid"
      />
    </div>
    <div class="movie-description">
      <div class="container">
        <button  class="btn btn-primary btn-sm">13:00</button>
        <button  class="btn btn-primary btn-sm">15:30</button>
        <button  class="btn btn-primary btn-sm">17:00</button>
        <button  class="btn btn-primary btn-sm">19:30</button>
        <button  class="btn btn-primary btn-sm">21:00</button>
        <button  class="btn btn-primary btn-sm">22:30</button>
      </div>
    </div>
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ movie?.original_title }}</h5>
    <p class="card-text">{{ movie?.overview }}</p>
  </div>
</div>
